#facilites {
    padding-bottom: 3rem;
    .facilites-box {
        border: 1px solid $color-black;
        border-radius: 12px;
        padding: 1rem 1.5rem;
        background: $form-bg-color;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.01);
        }
        h2 {
            text-transform: capitalize;
            text-align: center;
            margin-top: 0.5rem;
        }
        .image-holder {
            img {
                width: 100%;
                border-radius: 25px;
            }
        }
        .facilites-desc {
            margin-top: 0.5rem;
            p {
                font-size: 16px;
            }
        }
        .links {
            a {
                text-decoration: none;
            }
        }
    }
}

#buildings {
    background: $background;
    .top-building {
        padding-top: 3rem;
        .building-image {
            img {
                width: 100%;
            }
        }
        .building-desc{
            h2{
                text-transform: capitalize;
                font-size: 30px;
            }
            .btn-box{
                margin-top: 2rem;
                .btn{
                    padding: 1rem 1.5rem;
                    background: $color-orange;
                    text-transform: capitalize;
                }

            }
        }
    }
    .end-building {
        padding-top: 3rem;
        .building-image {
            img {
                width: 100%;
            }
        }
        .building-desc{
            h2{
                text-transform: capitalize;
                font-size: 30px;
            }
            .btn-box{
                margin-top: 2rem;
                .btn{
                    padding: 1rem 1.5rem;
                    background: $color-orange;
                    text-transform: capitalize;
                }

            }
        }
    }
}
