#experiance{
    margin-top: 2rem;
    .card-content{
        p{
            text-align: center;
            margin-top: 0.5rem;
            text-transform: capitalize;
            color: $color-black;
            font-size: 16px;
            font-weight: 600;
            font-family: $lora;
        }
    }

}