//color
$background: #f6f7fb;
$primary-orange: #f6ae1c;
$color-orange: #f1800e;
$primary-blue: #9fe7f5;
$color-blue: #449fbe;
$dark-blue: #08415e;
$color-white: #FFFF;
$color-black: #000;
$test: #f5f2ed;
$g-blue: #a8bbc2;
$dark-blue:#7daeb2;
$md-blue:#5a7c7d;
$lg-blue:#ccd0d9;
$hover:#001f3e;














//font-family 
$robo: "Roboto", serif;
$pop: "Poppins", serif;
$play: "Playfair Display", serif;
$lora:  "Lora", serif;

//contcatus 

$primary-color: #0f2c5c;
$secondary-color: #051b3c;
$background-color: #b9d9d9;
$form-bg-color: #f9f7f1;
$text-color: #333;
$label-color: #777;
